Repository sergeysova/remark-effector-publish: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.css": ["prettier --write", "git add"],
  "*.scss": ["prettier --write", "git add"],
  "*.html": ["prettier --write", "git add"],
  "*.htm": ["prettier --write", "git add"],
  "*.yaml": ["prettier --write", "git add"],
  "*.yml": ["prettier --write", "git add"],
  "*.ts": ["prettier --write", "git add"],
  "*.tsx": ["prettier --write", "git add"],
  "*.js": ["prettier --write", "git add"],
  "*.jsx": ["prettier --write", "git add"],
  "*.mjs": ["prettier --write", "git add"],
  "*.cjs": ["prettier --write", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  ".huskyrc": ["prettier --write --parser json", "git add"],
  ".prettierrc": ["prettier --write --parser json", "git add"],
  ".lintstagedrc": ["prettier --write --parser json", "git add"],
  ".eslintrc": ["prettier --write --parser json", "git add"],
  ".commitlintrc": ["prettier --write --parser json", "git add"],
  ".babelrc": ["prettier --write --parser json", "git add"]
}

add tests
  test/index.test.js
Due: prettier --write

implement plugin
  package.json
  src/index.js
  test/index.test.js
  test/real.test.js
  yarn.lock
Due: prettier --write, prettier --write --parser json

add readme
  README.md
Due: none

prebuild on publish
  package.json
Due: prettier --write --parser json

create nodejs ci
  .github/workflows/node.js.yml
Due: prettier --write

do not test with npm
  .github/workflows/node.js.yml
Due: prettier --write

do not use nodejs8
  .github/workflows/node.js.yml
Due: prettier --write

Update README.md
  README.md
Due: none
